body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.hero{
	position: relative;
	

	background: #eff4fd;

}
.photo{
	width: 150px;
	height:150px ;

}

nav{
	display: flex;
	width: 84%;
	margin: auto;
	padding: 20px 0;
	align-items: center;
	justify-content: space-between;
}
.detal{
	margin-left: 8%;
	margin-top: 15%;

}
.detel h1{
	font-size: 50px;
	color: #212121;
	margin-bottom: 20px;

}
span{
	color: orange;

} 
.detel p{
	color: #555;
	line-height: 22px;
}
.detel a{
	background: #212121;
	padding: 10px 18px;
	text-decoration: none;
	font-weight: bold;
	color: #fff;
	display:inline-block ;
	margin: 30px 0;
	border-radius: 5px;


}

.bpg{
	width: 300px;
	position: absolute;
	bottom: 0;
	right:100;
	margin-left: 800px;
}
.bpg img{
	height: 100%;
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translatex(-50%);
	transition: bottom 1s,left 1s;
}
.bpg:hover.shape{
	bottom: 40px;
}

.image:hover.bpg{
	left: 45%;
}